/*Importamos el código para CSS de googlefonts: */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


    /*especificamos la font-family: */
    font-family: "Ubuntu", sans-serif;
}

:root {
    --background_1: rgb(123, 57, 133);
    --background_2: rgb(48, 178, 210);
    --text_1: #e5e5e5;
    --text_2: #f7a0b7;
    --text_3: #ffe0fd;
    ;
    --background: #252630;
    --button-hover: #8c2c87;
}

body {
    background: linear-gradient(270deg, rgb(32, 68, 77), rgb(48, 178, 210));

}

/*HEADER*/
.banner {
    text-align: flex;
    height: 90px;
    background-image: url(../img/header.png);

}

header .logo {
    vertical-align: bottom;
    color: var(--text_3);
    font-size: 4rem;
    text-decoration: none;
    padding: 0 10px;
    /*top/bottom & left/right*/
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
}

header .planet {
    margin-left: 20px;
    vertical-align: bottom;
    color: var(--text_2);
    font-size: 4rem;
    text-decoration: none;
    padding: 10 10px;
    /*top/bottom & left/right*/
    display: inline-block;
}

/*Barra de navegacion*/
.navbar {
    /*background-image: url(../img/nav.png);*/
    /*background: linear-gradient(90deg, rgb(32, 101, 119), rgb(52, 94, 115),  rgb(123, 57, 133));    */
    background: linear-gradient(270deg, rgba(116, 52, 125, 0.5), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 2.5rem;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar nav ul li {
    position: relative;
    list-style: none;
    margin: 10px 10px;
}

.navbar nav ul li a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: var(--text_3);
    font-weight: 400;
    padding: 10px;
    font-size: 1rem;
    /*
    background: rgba(216, 130, 242, 0.179);
    border-radius: 10px;
    */

}

.navbar nav ul li a:hover {
    /*border-bottom: 3px solid var(--text_2);*/
    margin: 5px;
    transition: 0.75s;
    color: var(--text_2);
    /*
    padding: 10px;
    background-color: aqua;
    */
}

.navbar nav ul li ul {
    display: none;
    position: absolute;
    bottom: 20px;
    top: 100%;
}

.navbar nav ul li:hover>ul {
    display: block;
}

.navbar nav ul li ul li {
    margin: 0;
    text-align: left;
}

.navbar nav ul li ul li a {
    display: inline-block;
    color: var(--text_3);
    font-weight: 400;
    padding: 10px;
    font-size: 1rem;
    /*
    background: var(--background_1);
    border-radius: 10px;
    */
}

/*Contenido*/
.div-l {
    /*background-color: rgba(136, 189, 218, 0.42);*/
    color: var(--text_3);
    border-radius: 2vh;
    margin: 1vh;
    margin-top: 1%;
    display: inline-block;
    width: 65%;
    height: 50vh;
    vertical-align: top;
    text-align: justify;
    padding: 2%;
}

.div-l header {
    display: flex;
}

.titulo1 {
    font-size: 20px;
    vertical-align: bottom;
    display: inline-block;
    text-align: flex;
}

.code {
    color: var(--text_3);
    font-size: 2rem;
}

.div-r {
    background-color: rgba(164, 191, 220, 0.419);
    color: var(--text_3);
    border-radius: 2vh;
    margin: 1vh;
    margin-top: 1%;
    display: inline-block;
    width: 30%;
    height: 100vh;
    margin-bottom: 100px;
    vertical-align: top;
    text-align: justify;
    padding: 2%;
}

.div-r header {
    display: flex;
}

.iconoEstrella {
    background-image: url(../img/iconoEstrella.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    /* o el tamaño que necesites */
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    /* separación del texto */
    vertical-align: middle;
}

.iconoManos {
    background-image: url(../img/iconoManos.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    /* o el tamaño que necesites */
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    /* separación del texto */
    vertical-align: middle;
}

.temasDestacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.temasDestacados a span {
    background-color: rgba(0, 0, 0, 0.474);
}

.cardTema {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 150px;
    background-size: cover;
    background-position: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    padding: 10px;
    text-shadow: 1px 1px 4px black;
}

.cardTema:hover {
    transform: scale(1.03);
}


footer {
    margin-top: 20px;
    text-align: right;
}

/*REDES SOCIALES*/
.contenedorRS {
    position: relative;
    display: flex;
    right: 0px;
    bottom: 0px;
}
.contenedorRS ul {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.contenedorRS ul li {
    padding: 10px;
}

.contenedorRS ul li a {
    color: var(--text_3);
    font-size: 2.2rem;
    transition: 0.3s;
}

.contenedorRS ul li:hover a {
    color: var(--text_2)
}

/*Formulario*/
form {
    color: var(--background);
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    margin: auto;
    margin-top: 10px;
    width: 800px;
    padding-bottom: 10px;
}

.cabeceraForm {
    margin-top: 20px;
    color: var(--text_3);
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

fieldset {
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
}

input {
    border-radius: 3px;
    border: none;
    margin: 5px;
    padding-left: 4px;
}

legend {
    border-color: rgb(88, 76, 96);
    color: #614e71;
    font-weight: bolder;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.DatosPersonales {
    border-color: rgb(88, 76, 96);
    background-color: rgb(222, 217, 233);
}

.DatosPersonales div label {
    display: inline-block;
}

.DatosPersonales div label input {
    display: block;
}

.Informacion {
    border-color: rgb(88, 76, 96);
    background-color: rgb(211, 205, 225);
}

textarea {
    display: block;
    width: 40rem;
    height: 5rem;
}

.Confirmacion {
    border-color: rgb(88, 76, 96);
    background-color: rgb(175, 167, 194);
}

.boton {
    text-align: center;
    margin-top: 20px;
}

/*QUIÉNES SOMOS*/
.imgQS {
    height: 20rem;
    width: 40rem;
    /* o ajusta al tamaño que desees */
    background-image: url(../img/QS.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 40px 20px 20px 20px;
}

.div-quienesSomos {
    color: var(--text_3);
    border-radius: 2vh;
    margin: 1vh;
    margin-top: 1%;
    display: inline-block;
    width: 65%;
    height: 50vh;
    vertical-align: top;
    text-align: justify;
    padding: 2%;
}
.div-quienesSomos h2 {
    margin: 1rem 0rem;
    font-size: 2rem;
}
.div-quienesSomos article span {
    font-size: 1.5rem;
}

.div-mision {
    color: var(--text_3);
    border-radius: 2vh;
    margin: 1vh;
    margin-top: 1%;
    width: 65%;
    height: 50vh;
    vertical-align: top;
    text-align: justify;
    padding: 2%;
    float: right;
}
.div-mision h2 {
    margin: 1rem 0rem;
    font-size: 2rem;
}
.div-mision article span {
    font-size: 1.5rem;
}

.imgQS-2 {
    height: 20rem;
    width: 40rem;
    background-image: url(../img/imgQS2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 40px 20px 20px 20px;
}


.imgQS-3 {
    height: 20rem;
    width: 40rem;
    background-image: url(../img/trabajamos.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* sombra suave */
    margin: 40px 20px 20px 20px;
    /* espacio alrededor, especialmente a la izquierda */
    
}

.div-trabajo {
    color: var(--text_3);
    border-radius: 2vh;
    margin: 1vh;
    margin-top: -250px;
    display: inline-block;
    width: 65%;
    height: 50vh;
    vertical-align: top;
    text-align: justify;
    padding: 2%;
}

